PORT=3000
DOMAIN=example.com
DATABASE_URL=url_database
JWT_SECRET='this-is-an-awesome-secret-key'
REFRESH_SECRET='this-is-an-awesome-refresh-secret-key'
EMAIL_USER=email
EMAIL_PASS=password
FRONTEND_URL=http://localhost:4200
CORS_ORIGIN=http://localhost:3000
ACCESS_KEY=''
SECRET_KEY=''
ENDPOINT_URL="https://111.r2.cloudflarestorage.com"
PRIVATE_BUCKET_NAME=bucket
PUBLIC_BUCKET_NAME=public-bucket
NODE_ENV=development
# NODE_ENV=production